@{
    ViewData["Title"] = "Movie Database Homepage";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" height="280" />
</div>
<br />
<br />
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="Podcasts">My Podcasts</a>
    <a asp-controller="Home" asp-action="EnterMovie">Enter Movies</a>
</div>