@{
    ViewData["Title"] = "My Podcasts";
}

<h1>My Podcasts...</h1>

<div>
    <h4>I also have a weekly podcast with a couple friends about movies called Baconsale.</h4>
    <h4>Be sure to <a href="https://baconsale.com/">check it out here!</a></h4>
    <p>A Hickory-Smoked Pop Culture Podcast</p>
</div>

<br />
<br />
<br />