@{
    ViewData["Title"] = "My Podcasts";
}

<h1>My Podcasts...</h1>

<div>
    <h4>I also have a weekly podcast with a couple friends about movies called Baconsale.</h4>
    <p>Be sure to <a href="https://baconsale.com/">check it out here!</a></p>
</div>

<br />
<br />
<br />
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="Podcasts">My Podcasts</a>
    <a asp-controller="Home" asp-action="EnterMovie">Enter Movies</a>
</div>